{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}Flasky{% endblock %}

{% block page_content %}
{{ pagination.info }}
{{ pagination.links }}
<table>
  <thead>
    <tr>
      <th>#</th>
      <th>UserIP</th>
      <th>UserName</th>
      <th>Action</th>
      <th>EventTime</th>
      <th>BrasIP</th>
    </tr>
  </thead>
  <tbody>
    {% for userlog in userlogs %}
      <tr>
        <td>{{ loop.index + pagination.skip }}</td>
        <td>{{ userlog['Framed-IP-Address'] }}</td>
        <td>{{ userlog['User-Name'] }}</td>
        <td>{{ userlog['Acct-Status-Type'] }}</td>
        <td>{{ userlog['Event-Timestamp'] }}</td>
        <td>{{ userlog['NAS-IP-Address'] }}</td>
      </tr>
    {% endfor %}
  </tbody>
</table>
{{ pagination.links }}
{% endblock %}
